.sn-input{
    position:absolute;
    top:50%;
    left:30%;
    width:300px;
    height:30px;
    border:1px solid #999;
    z-index:999;
}
.sn-button {
    position:absolute;
    top:50%;
    left:55%;
    height:30px;
    border:1px solid #999;
    background:#BADA55;
}
.single-marker {
    width:60px;
    height:60px;
    border-radius:60px;
}

.followers {
    position:fixed;
    display:none;
    font-family:Helvetic Nueue, Arial, sans-serif;
    bottom:5%;
    left:2%;
    padding:10px;
    border:1px solid #999;
    border-radius:5px;
    background:#BADA55;
}

.followers-received {
    position:fixed;
    display:none;
    font-family:Helvetic Nueue, Arial, sans-serif;
    bottom:5%;
    right:2%;
    padding:10px;
    border:1px solid #999;
    border-radius:5px;
    background:#BADA55;
}

.group-marker {
    position:relative;
    z-index:100;
    top:0px;
    left:0px;
    width:60px;
    height:60px;
    border-radius:60px;
    background:#fff;
    overflow:hidden;
    box-shadow:2px;
    -webkit-transition-property: height, width, top, left;
    -webkit-transition-duration: 0.3s;
}

.group-marker:hover {
    top:-150px;
    left:-150px;
    height:300px;
    width:300px;
    z-index:1000;
    border-radius:300px;
}

.group-amount {
    position:absolute;
    font-size:24px;
    font-family:Helvetica Nueue, Arial, sans-serif;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -6px;
}

.twitter-alert {
    position:fixed;
    display:none;
    padding:24px;
    height:30px;
    width:300px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -150px;
    background:#BADA55;
    border-radius:5px;
    font-family:Helvetic Nueue, Arial, sans-serif;
    border:1px solid #999;
}

.img-container {
    width:60px;
    height:60px;
    border-radius:60px;
    overflow:hidden;
}
.img-container img {
    position:absolute;
    border-radius:60px;
    overflow:hidden;
    width:60px;
    height:60px;
}